<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	
</head>
<body>
	
	<form action="/Adddetail/">
		<table border="1">
			<tr>
				<td>Enter College Name:</td>
				<td><input type="text" name="collegename"></td>
			</tr>
			<tr>
				<td>Enter College City:</td>
				<td><input type="text" name="collegecity"></td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center;">
					<input type="submit" name="submit" value="Submit">
				</td>
			</tr>
		</table>
	</form>
	
</body>
</html>
