<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/printLoginMethod/" method="post">
        {%csrf_token %}
        <input type="text" placeholder="Enter name" name="name" >
        <input type="number" placeholder="Enter Number" name="m1">
        <input type="number" placeholder="Enter Number" name="m2">
        <input type="submit" value="submit">
    </form>
</body>
</html>