{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Marks 1</th>
            <th>Marks 2</th>
            <th>Delete User</th>
        </tr>
        {%for item in dataOfStud%}
        <tr>
            <td>{{item.name}}</td>  
            <td>{{item.m1}}</td>
            <td>{{item.m2}}</td>
            <td><a href="{% url 'deleteData' name=item.name %}"><button>Delete User</button></a></td>
        </tr>
        {%endfor%}
    </table>
    <a href="/findUser">findUser</a>
</body>

</html>