<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Hobbies</th>
            <th>Course</th>
        </tr>
        {% for data in dataDict %}
        <tr>
            <td>{{ data.no }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.gender }}</td>
            <td>{{ data.hobbies }}</td>
            <td>{{ data.course }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>