<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/storeData/" method="post">
        {% csrf_token %}
        Marks1: <input type="number" name="M1">
        Marks2: <input type="number" name="M2">
        Marks3: <input type="number" name="M3">
        Name:<input type="text" name="name" id="">
        <input type="submit" value="submit">
    </form>
</body>

</html>