<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{ static 'style.css'}">
</head>


<body>
    <h1>Add New Books</h1>
    <form action="/addBooks/" method="POST">
        {%csrf_token%}
        <input type="text" name="title" placeholder="Book Title" required>
        <input type="text" name="author" placeholder="Book author" required>
        <input type="number" name="price" placeholder="Book Price" required>
        <input type="submit" value="submit">
    </form>
    <a href="/bookPrice">Go TO filter Books</a>
</body>

</html>