<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Student</title>
</head>

<body>
    <h1>Search for Student</h1>
    <form action="/studentSearch/" method="post">
        {% csrf_token %}
        <label for="studentToSearch">Student Name:</label>
        <input type="text" id="studentToSearch" name="studentToSearch" required>
        <button type="submit">Search</button>
    </form>
    <a href="/">Go to Home</a>
</body>

</html>
