<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="">
        <label for="">Username</label>
        <input type="text" placeholder="Enter a Username" name="fname">
        <label for="">Last Name</label>
        <input type="text" placeholder="Enter a Last Name" name="lname">
        <label for="">Prime Nummer</label>
        <input type="number" placeholder="Enter a Number" name="prime">
        <input type="submit" value="submit">
    </form>
</body>

</html>