<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<form action="/storeData" method="get">
		<label>Enrollmernt Number</label>
		<input type="number" name="number">
		<br>

		<label>Username</label>
		<input type="text" name="username">
		<br>
		
		<label>Enter First Subject Name</label>
		<input type="number" name="firstSubject">
		<br>
		
		<label>Enter Second Subject Name</label>
		<input type="number" name="secondSubject">
		<br>
		
		<input type="submit" name="submit" value="submit">
		</form>
</body>
</html>