body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background-color: lightcoral;
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.cont {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.hero-image {
    width: 100%;
    height: auto;
}

.btn {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}